<html ng-app="mainApp">
    <head>
    <title>Angular - Firebase</title>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="angular.js"></script>
    <script src="node_modules/firebase/firebase.js"></script>
    <script src="node_modules/angularfire/dist/angularfire.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCdfZWaWwNJc71YyqbJYUcpWkrt98qC7D4",
    authDomain: "testfirebase-9b1bb.firebaseapp.com",
    databaseURL: "https://testfirebase-9b1bb.firebaseio.com",
    projectId: "testfirebase-9b1bb",
    storageBucket: "testfirebase-9b1bb.appspot.com",
    messagingSenderId: "403885342811"
  };
  firebase.initializeApp(config);
</script>
    <script src="app.js"></script>

    </head>
     <body ng-controller="todoCtrl as todo">


        <div class="row">
            <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="todo.task">
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success btn-block" ng-disabled="!todo.task" ng-click="todo.addTask(todo.task)">Add</button>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-success':task.status}" ng-repeat="task in todo.tasks">
                        {{task.title}}
                        <button class="btn btn-info" ng-click="todo.done($index)">Done</button>
                        <button class="btn btn-warning">Up</button>
                        <button class="btn btn-danger">Down</button>
                        <button class="btn btn-danger" ng-click="todo.removeTask($index)">Delete</button>

                    </li>
               


                </ul>
            </div>
        </div>


        
    </body>
</html>