<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" style="background-color: #D91E18">
        <h1 class="title" style="color: white">Chat Bot</h1>
    </ion-header-bar>
    <ion-content scroll="true" class="has-header has-footer stable-bg">
        <div class="row">
            <div class="col">
                <p class="text-center text-small bold"> 22 Mar, 2017</p>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble right" ng-style="chat.maxWidth" style="color: white">
                            Hello
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble left iten-text-wrap" ng-style="chat.maxWidth">
                            Hello, Brother
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble right" ng-style="chat.maxWidth">
                            How are you?
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble left iten-text-wrap" ng-style="chat.maxWidth">
                            I am cool... How Are You??
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble right" ng-style="chat.maxWidth">
                            I am Fine..
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble left iten-text-wrap" ng-style="chat.maxWidth">
                            and say whats going on?
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col relative">
                        <span class="chat-bubble right" ng-style="chat.maxWidth">
                            Just chilling at pool site with buddies
                            Uh Say??
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar style="border-top:2px solid lightgrey; border-bottom:2px solid lightgrey; padding:0">
        <textarea type="text" placeholder="Send a message...." class="item-input col-90 chatbox">
      </textarea>

        <button type="button" class="button button-icon icon ion-android-send otb-pink padding-0" style="padding: 0px!important;">
        </button>
    </ion-footer-bar>
</ion-view>
