<html ng-app="mainApp">
    <head>
    <title>Angular- Controller and In-built Directives</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    </head>
    <body>
        
                 <div ng-controller="firstCtrl as first">
                        1: {{first.name}}
                        <input type="text" ng-model="first.name" ng-keyup="first.alert()">

                        <p ng-show="first.show"> Alert </p>
                        <button ng-click="first.showAlert()">Show</button>
                        <button ng-click="first.add(first.name)">Add</button>

                        <button ng-repeat="char in first.chars">
                            {{char}}
                        </button>

                 </div>
    

                <div ng-controller="secondCtrl as second">
                   2: {{first.name}}
                   3: {{second.name}}

                  
                </div>
    
                
   
    </body>
</html>