<html ng-app="mainApp">
    <head>
    <title>Angular - AJAX</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
 </head>
    <body ng-controller="firstCtrl as first">
   
        <select name="" id="" ng-model="first.baseCurrency">
            <option value="{{name}}" ng-repeat="(name,value) in first.rates">{{name}}</option>
        </select>
        <input type="text" ng-model="first.amt">
        <select name="" id="" ng-model="first.currency">
            <option value="{{name}}" ng-repeat="(name,value) in first.rates">{{name}}</option>
        </select>
        <button ng-click="first.convert(first.amt)">convert</button>
          Amount : {{first.amt}} {{first.base}}
          {{first.currency}}  : {{first.inr}}
 


    </body>
</html>